<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/login" method="post">
    <div>
        <div>First Name:<input type="text" name="firstName"></div>
        <div>Last Name:<input type="text" name="lastName"></div>
        <div>Email:<input type="email" name="email"></div>
        <div>Password:<input type="password" name="password"></div>
        <div>Age:<input type="number" name="age"></div>
        <div>City:<input type="text" name="city"></div>
        <input type="submit" value="OK">
    </div>
</form>

</body>
</html>